<div class="generic-header">
  <h1 class="text-center">
    Thank You
  </h1>
</div>
<div class="container my-5">
  <div class="card py-5">
    <div class="card-body text-center">
      Thank you for your purchase! Click <%= link_to 'here', enrollments_path %> to view your enrolled workshops.
    </div>
  </div>
</div>
