<div class="generic-header">
  <h1 class="text-center">
    Merci !
  </h1>
</div>
<div class="container my-5">
  <div class="card py-5">
    <div class="card-body text-center">
      Votre achat est completé. Vous recevrez votre facture directement dans votre boite emails.
    </div>
    <div class="card-body text-center">
      Cliquez <%= link_to 'ici', enrollments_path %> pour consulter vos formations.
    </div>
  </div>
</div>
