<div class="banner">
  <div class="container">
    <h1><span>Copas Formation</span></h1>
    <h2>Partager notre expertise des <span>politiques publiques</span> développée depuis plus de 35 ans</h2>
    <br>
    <a href="#workshops" class="btn btn-primary">Parcourir nos formations</a>
  </div>
  <%= image_tag ("banner-img.svg"), class: "banner-img d-none d-lg-block" %>
</div>
