<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
 <div class="row">
  <div class="col-6 col-md">
   <h5>Notre société</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">A propos</a></li>
    <li><a class="text-muted" href="#">Salle de presse</a></li>
    <li><a class="text-muted" href="#">Carrière</a></li>
   </ul>
  </div>
  <div class="col-6 col-md">
   <h5>Apprendre</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Ateliers</a></li>
    <li><a class="text-muted" href="#">Tarifs</a></li>
   </ul>
  </div>
  <div class="col-6 col-md">
   <h5>Enseigner</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Comment faire</a></li>
    <li><a class="text-muted" href="#">Exemples</a></li>
   </ul>
  </div>
  <div class="col-6 col-md">
   <h5>Communauté</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Blog</a></li>
    <li><a class="text-muted" href="#">Aide</a></li>
   </ul>
  </div>
 </div>
 <div class="container">
  <span class="text-muted">Copas 2020</span>
 </div>
</footer>
