// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";
@import "lessons/index";
@import "workshops/index";

#toast-container > div {
  opacity: 100;
}
.toast {
  background-color: #2f96b4;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #ff0000;
}
.toast-info {
  background-color: #996633;
}
.toast-warning {
  background-color: #ffcc00;
}

.generic-header {
  background-color: #d35400;
  margin-top: -15px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
  h1 {font-size:2.0rem;}
  h5 {font-size:0.7rem;}
}

