.list-group-item {
 position: relative;
 display: block;
 a { color: #111; }
 &.active {
  color: #111;
  background-color: #ecf0f1;
  border-color: #bdc3c7;
 }
}

.workshop-title {
 width:100%;
 box-sizing:border-box;
 position:relative;
 padding-top:50px;
 margin-top: 5px;
 margin-bottom:20px;
 overflow:hidden;
}

.workshop-title h5 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.workshop-title-header {
 width:100%;
 position:absolute;
 top:0;
 left:0;
 height:50px;
 float:left;
 background: #f6f6f6;
 z-index:99;
 overflow:hidden;
 margin-top: 10px;
 margin-bottom: 10px;
}

.list-lessons {
  margin-top: 30px;
  margin-bottom: 10px;
}

.no-video {
  margin: 10px;
}

#sticky {
  position: fixed;
  top: 80px;
  right: 10px;
}
